/* admins' page */
div.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a,
    button {
        text-decoration: none;
        padding: 10px var(--header-button-padding-x);
        border: none;
        background: var(--primary-orange);
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        font-size: 1rem;
    }
}

div.search-card {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;

    div.search-wrapper {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        div.dropdown-search-container {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex: 1;

            div.dropdown-container {
                background: #f7f7f7;
                display: flex;
                align-items: center;
                padding: 0 10px;

                p {
                    margin: 0;
                }

                div.search-dropdown {
                    button {
                        border: none;
                        background: none;
                        outline: none;
                        color: #000;
                    }

                    div.search-dropdown-content {
                        display: none;
                    }
                }

                i.fa-caret-down {
                    background: var(--primary-orange);
                    padding: 5px;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 10px;
                }
            }

            div.search-box-container {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0 10px;

                i {
                    color: var(--border-color);
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    flex: 1;
                }
            }
        }

        button {
            padding: 10px 40px;
            border: none;
            background: var(--primary-orange);
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}

div.tabs-container {
    margin-top: 20px;

    div.tab-buttons {
        display: flex;
        align-items: center;

        button {
            border: none;
            background: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
            font-size: .75rem;
        }

        button.all {
            background: #fff;
            color: #000;
            border-top-left-radius: 5px;
        }

        button.active {
            background: var(--primary-green);
            color: #fff;
        }

        button.inactive {
            background: var(--primary-red);
            color: #fff;
            border-top-right-radius: 5px;
        }
    }

    div.tab-content {
        padding: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                th {
                    text-align: center;
                    padding: 10px;
                }
            }

            tbody {
                margin-top: 10px;

                tr {
                    border: 1px solid #fbfbfb;
                    font-size: 14px;

                    td {
                        text-align: center;
                        padding: 10px;
                    }

                    td:first-child {
                        img {
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    td:nth-child(6) {
                        span.tag {
                            border-radius: 5px;
                            font-size: 10px;
                            padding: 3px 10px;
                            color: #fff;
                        }

                        span.active {
                            background: var(--primary-green);
                        }

                        span.inactive {
                            background: var(--primary-red);
                        }
                    }

                    td:last-child {
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }

                tr:nth-child(even) {
                    background: #f7f7f7;
                }

                tr:hover {
                    background-color: #fbfbfb;
                }
            }
        }

        div.footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div.pagination {
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            div.records {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;

                div.views {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

/* create admin */
div.form-card {
    margin-top: 1.25rem;
    background: var(--card-background);
    border-radius: .3125rem;
    padding: 2.5rem;

    p.form-title,
    p.form-subtitle {
        text-align: center;
    }

    p.form-subtitle {
        color: var(--primary-orange);
        border-bottom: .1875rem solid var(--primary-orange);
        width: fit-content;
        margin: .3125rem auto 1.25rem;
        padding: .3125rem;
        font-size: .625rem;
    }

    form {
        div.top {
            div.form-row {
                display: flex;
                justify-content: space-between;
                gap: 3.75rem;
                margin-bottom: 2.5rem;

                div.input-container {
                    width: 50%;

                    label {
                        font-size: .75rem;
                        display: flex;
                        align-items: center;
                        gap: .625rem;

                        i {
                            color: var(--primary-red);
                            font-size: .375rem;
                        }
                    }

                    div.input-box {
                        margin-top: .625rem;
                        border: .0625rem solid var(--border-color);
                        border-radius: .625rem;
                        padding: .625rem;
                        display: flex;
                        align-items: center;
                        gap: .625rem;

                        i {
                            color: var(--border-color);
                        }

                        input {
                            flex: 1;
                            border: none;
                            outline: none;
                            font-size: .875rem;
                        }
                    }
                }

                div.hidden {
                    width: 50%;
                    visibility: hidden;
                }
            }
        }

        div.bottom {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                padding: var(--button-padding-y) var(--button-padding-x);
                border-radius: var(--border-radius);
                font-size: .75rem;
            }

            a.back-btn {
                border: .0625rem solid var(--primary-orange);
                color: var(--primary-orange);

                &:hover {
                    background-color: var(--primary-orange);
                    color: var(--primary-white);
                }
            }

            a.create-admin {
                border: .0625rem solid var(--primary-orange);
                background: var(--primary-orange);
                border: .0625rem solid var(--primary-orange);
                color: var(--primary-white);

                &:hover {
                    background-color: transparent;
                    color: var(--primary-orange);
                }
            }
        }
    }
}

div.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100, 0.5);
    background-blend-mode: multiply;
    z-index: 50;
    cursor: pointer;
    display: none;

    div.success-message-card {
        height: fit-content;
        width: max-content;
        padding: 1.875rem;
        background: var(--card-background);
        box-shadow: 0 .125rem .125rem -.0625rem rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        /* right: ; - set by javascript */
        /* left: ; - set by javascript */

        h3 {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        img,
        a {
            display: block;
        }

        img {
            margin: 1.875rem auto;
            display: flex;
            width: 20%;
        }

        a {
            width: fit-content;
            background: var(--primary-orange);
            color: var(--primary-white);
            text-decoration: none;
            padding: var(--button-padding-y) var(--button-padding-x);
            font-size: .875rem;
            text-align: center;
            margin: 0 auto;
        }
    }
}

/* view admin */
div.page-header {
    a.link-button {
        background: unset;
        color: var(--primary-orange);
    }
}

div.bio-card {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;

    div.left {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid var(--border-color);

        img {
            height: 170px;
            width: 170px;
        }

        h3 {
            margin-top: 10px;
            font-weight: 700;
        }
    }

    div.right {
        flex: 1;
        display: flex;
        align-items: flex-start;
        padding-right: 20px;

        div.first-part {
            flex: 1;

            div.data-row:not(:last-of-type) {
                border-bottom: 1px solid var(--border-color);
                /* fixme - change to table row */
                display: flex;
                gap: 50px;
            }

            div.data-row {
                padding: 10px 20px;

                div.data-block {
                    label {
                        font-size: .75rem;
                        color: #7A7C87;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            div.data-row:nth-of-type(2) {
                div.data-block:nth-of-type(2) {
                    p {
                        color: #00b388;
                    }
                }
            }

            div.data-row:last-of-type {
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 20px;

                a {
                    text-decoration: none;
                    border-radius: var(--border-radius);
                    font-size: 15px;
                    border: .0625rem solid var(--primary-orange);
                    padding: 5px 40px;
                }

                a:first-child {
                    background: #C615311A;
                    color: var(--primary-orange);

                    &:hover {
                        background-color: var(--primary-orange);
                        color: var(--primary-white);
                    }
                }

                a:last-child {
                    border: .0625rem solid var(--primary-orange);
                    background: var(--primary-orange);
                    color: var(--primary-white);

                    &:hover {
                        background-color: transparent;
                        color: var(--primary-orange);
                    }
                }
            }
        }

        div.second-part {
            i {
                background: var(--primary-orange);
                padding: 5px;
                border-radius: 50%;
                color: #fff;
                font-size: 10px;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}

div.tabs-container {
    margin-bottom: 50px;
    div.tab-buttons {
        button {
            padding: 10px 40px;
            background: var(--primary-orange);
            color: var(--primary-white);
        }

        button.active {
            background: var(--primary-white);
            color: var(--primary-orange);
        }
    }

    div.tab-content {
        padding: unset;

        div.activities {
            display: none;

            table {

                tbody {
                    tr {
                        background: unset;

                        td {
                            padding: 10px 40px;
                            font-size: 12px;
                        }

                        td:first-child {
                            text-align: left;
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            i {
                                color: var(--primary-orange);
                            }
                        }

                        td:last-child {
                            text-align: right;

                            button {
                                border: 1px solid var(--primary-orange);
                                background: var(--primary-orange);
                                color: var(--primary-white);
                                padding: 2px 10px;
                                font-size: 10px;
                                border-radius: 3px;
                                cursor: pointer;

                                &:hover {
                                    background-color: transparent;
                                    color: var(--primary-orange);
                                }
                            }
                        }
                    }

                    tr:first-of-type {
                        border: none;

                        td.title {
                            font-size: 14px;
                            font-weight: 500;
                            text-align: left;
                        }
                    }

                    tr:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }

        div.chats {
            display: none;
            padding: 30px;

            div.messages {
                overflow-y: scroll;
                height: 300px;
                padding: 30px;

                div.message {
                    display: flex;
                    margin: 20px 0;

                    p.message-time {
                        font-size: 10px;
                        color: #585858;
                    }

                    div.message-block {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 57px;
                            height: 57px;
                        }

                        div.message-text {
                            padding: 10px;
                            border-radius: 16px;

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

                div.left-message {
                    p.message-time {
                        text-align: right;
                    }

                    div.message-block {
                        div.message-text {
                            background: #F3F5F6;
                            border-bottom-left-radius: 0;
                        }
                    }
                }

                div.right-message {
                    justify-content: flex-end;

                    div.message-block {
                        div.message-text {
                            background: #D7F8F4;
                            border-bottom-right-radius: 0;
                        }
                    }
                }
            }

            div.send-message {
                background: #F0F2FA;
                width: 70%;
                margin: 0 auto;
                padding: 10px 20px;
                margin-top: 20px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                span.emoji-picker,
                i.fa-square-plus,
                i.fa-microphone {
                    cursor: pointer;
                }

                input {
                    flex: 1;
                    font-size: 14px;
                    color: #8F8F8F;
                    border: none;
                    outline: none;
                    background: transparent;
                }

                input::placeholder {
                    color: #8F8F8F;
                    font-style: italic;
                }
            }
        }

        div.active {
            display: block;
        }
    }
}

@media (max-width: 992px) {}

@media (max-width: 767px) {
    div.page-header {
        button {
            span {
                display: none;
            }
        }
    }

    /* admins' page */
    div.search-card {
        div.search-wrapper {
            div.dropdown-search-container {
                justify-content: space-between;
            }

            button {
                display: none;
            }
        }
    }

    div.tabs-container {
        div.tab-content {
            table {
                thead {

                    th:nth-child(2),
                    th:nth-child(3),
                    th:nth-child(4) {
                        display: none;
                    }
                }

                tbody {
                    tr {

                        td:nth-child(2),
                        td:nth-child(3),
                        td:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    /* create admin page */
    div.form-card {
        form {
            div.top {
                div.form-row {
                    flex-direction: column;

                    div.input-container {
                        width: 100%;
                    }

                    div.hidden {
                        display: none;
                    }
                }
            }
        }
    }

    /* view admin */
    div.bio-card {
        flex-direction: column;
        div.left {border: none;}
    }
}

@media (max-width: 576px) {}