/* admins' page */
div.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: 10px 20px;
        border: none;
        background: var(--primary-orange);
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
    }
}

div.search-card {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;

    div.search-wrapper {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        div.dropdown-search-container {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex: 1;

            div.dropdown-container {
                background: #f7f7f7;
                display: flex;
                align-items: center;
                padding: 0 10px;

                p {
                    margin: 0;
                }

                div.search-dropdown {
                    button {
                        border: none;
                        background: none;
                        outline: none;
                        color: #000;
                    }

                    div.search-dropdown-content {
                        display: none;
                    }
                }

                i.fa-caret-down {
                    background: var(--primary-orange);
                    padding: 5px;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 10px;
                }
            }

            div.search-box-container {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0 10px;

                i {
                    color: var(--border-color);
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    flex: 1;
                }
            }
        }

        button {
            padding: 10px 40px;
            border: none;
            background: var(--primary-orange);
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}

div.tabs-container {
    margin-top: 20px;

    div.tab-buttons {
        display: flex;
        align-items: center;

        button {
            border: none;
            background: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            padding: 10px 20px;
        }

        button.all {
            background: #fff;
            color: #000;
            border-top-left-radius: 5px;
        }

        button.active {
            background: var(--primary-green);
            color: #fff;
        }

        button.inactive {
            background: var(--primary-red);
            color: #fff;
            border-top-right-radius: 5px;
        }
    }

    div.tab-content {
        padding: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                th {
                    text-align: center;
                    padding: 10px;
                }
            }

            tbody {
                margin-top: 10px;

                tr {
                    border: 1px solid #fbfbfb;
                    font-size: 14px;

                    td {
                        text-align: center;
                        padding: 10px;
                    }

                    td:first-child {
                        img {
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    td:nth-child(6) {
                        span.tag {
                            border-radius: 5px;
                            font-size: 10px;
                            padding: 3px 10px;
                            color: #fff;
                        }

                        span.active {
                            background: var(--primary-green);
                        }

                        span.inactive {
                            background: var(--primary-red);
                        }
                    }

                    td:last-child {
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }

                tr:nth-child(even) {
                    background: #f7f7f7;
                }

                tr:hover {
                    background-color: #fbfbfb;
                }
            }
        }

        div.footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div.pagination {
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            div.records {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;

                div.views {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

/* create admin */
div.form-card {
    margin-top: 1.25rem;
    background: var(--card-background);
    border-radius: .3125rem;
    padding: 2.5rem;

    p.form-title,
    p.form-subtitle {
        text-align: center;
    }

    p.form-subtitle {
        color: var(--primary-orange);
        border-bottom: .1875rem solid var(--primary-orange);
        width: fit-content;
        margin: .3125rem auto 1.25rem;
        padding: .3125rem;
        font-size: .625rem;
    }

    form {
        div.top {
            div.form-row {
                display: flex;
                justify-content: space-between;
                gap: 3.75rem;
                margin-bottom: 2.5rem;

                div.input-container {
                    width: 50%;

                    label {
                        font-size: .75rem;
                        display: flex;
                        align-items: center;
                        gap: .625rem;

                        i {
                            color: var(--primary-red);
                            font-size: .5rem;
                        }
                    }

                    div.input-box {
                        margin-top: .625rem;
                        border: .0625rem solid var(--border-color);
                        border-radius: .625rem;
                        padding: .3125rem;
                        display: flex;
                        align-items: center;
                        gap: .625rem;

                        i {
                            color: var(--border-color);
                        }

                        input {
                            flex: 1;
                            border: none;
                            outline: none;
                            padding: ;
                            font-size: .875rem;
                        }
                    }
                }
            }

            div.hidden {
                /* fixme */
                width: 50%;
                /* visibility: hidden; */
            }
        }

        div.bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                padding: var(--button-padding-y) var(--button-padding-x);
                border-radius: var(--border-radius);
                font-size: .75rem;
            }

            a.back-btn {
                border: .0625rem solid var(--primary-orange);
                color: var(--primary-orange);

                &:hover {
                    background-color: var(--primary-orange);
                    color: var(--primary-white);
                }
            }

            a.create-admin {
                border: .0625rem solid var(--primary-orange);
                background: var(--primary-orange);
                border: .0625rem solid var(--primary-orange);
                color: var(--primary-white);

                &:hover {
                    background-color: transparent;
                    color: var(--primary-orange);
                }
            }
        }
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    div.page-header {
        button {
            span {
                display: none;
            }
        }
    }

    div.search-card {
        div.search-wrapper {
            div.dropdown-search-container {
                justify-content: space-between;
            }

            button {
                display: none;
            }
        }
    }

    div.tabs-container {
        div.tab-content {
            table {
                thead {

                    th:nth-child(2),
                    th:nth-child(3),
                    th:nth-child(4) {
                        display: none;
                    }
                }

                tbody {
                    tr {

                        td:nth-child(2),
                        td:nth-child(3),
                        td:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {}