:root{
    --primary-white: #fff;
    --primary-orange: #f56100;
    --primary-green: #00b388;
    --primary-red: #c61531;
    --border-color: #e5e5e5;
    --card-background: #fff;

    --button-padding-y: .3125rem;
    --button-padding-x: 2.5rem;

    --border-radius: .3125rem;
}