*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url('/assets/fonts/circular-std-medium-500') format('tff');
  font-weight: 500;
  font-style: normal;
}

.container-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f0f2fa;
}

.sidebar {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  background: #262626;
  gap: 30px;
}

.main-section {
  height: 100%;
  width: 85%;
}

.header {
  height: 50px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.content-section {
  height: calc(100% - 50px);
  width: 100%;
  padding: 10px;
  background-color: #f0f2fa;
  overflow: auto;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.app-logo {
  width: 90px;
  height: 30px;
}

.mobile-app-logo {
  display: none;
  width: 90px;
  height: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-item {
  width: 100%;
}

.nav-item-image {
  width: 12px;
  height: 12px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 20px;
  text-decoration: none;
  color: white;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.nav-text {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.open-mobile-nav {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.close-mobile-nav {
  background-color: transparent;
  outline: none;
  border: none;
}

.nav-item.active .nav-link,
.nav-link:hover {
  background-color: #f56100;
}

.nav-item.active .nav-link {
  border-left: 5px solid white;
}

.nav-link:hover {
  color: white;
}

.header-search-container {
  background: #f0f2fa;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 2px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  width: 160px;
}

.search-input:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-icon {
  width: 10px;
  height: 10px;
}

.header-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 1rem;
}

.notification-bell-icon {
  width: 15px;
  height: 15px;
}

.user-profile-pic {
  width: 30px;
  height: 30px;
}

.caretdown {
  width: 10px;
  height: 10px;
}

.user-profile-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.user-profile-name {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.mob-app-logo-container {
  margin-left: 10px;
  display: none;
}

.mobile-nav-menu {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .open-mobile-nav {
    display: block;
  }

  .user-profile-div {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .mobile-nav-menu-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ff7a00;
    padding-bottom: 8px;
    width: 80%;
  }
  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 90px;
    height: 30px;
  }

  .mob-app-logo-container {
    margin-left: 10px;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0px 0px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    .open-mobile-nav {
      display: block;
    }
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .mobile-nav-menu-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ff7a00;
    padding-bottom: 8px;
    width: 80%;
  }
  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 90px;
    height: 30px;
  }

  .mob-app-logo-container {
    margin-left: 10px;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0px 0px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .open-mobile-nav {
    display: block;
  }

  .user-profile-div {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .mobile-nav-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    padding-left: 20px;
    list-style: none;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ff7a00;
    padding-bottom: 8px;
    width: 80%;
  }

  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 90px;
    height: 30px;
  }

  .mob-app-logo-container {
    margin-left: 10px;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0px 0px;
  }
}

/*  */

/* users style  */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.usersHomepage {
  background: rgb(240, 242, 250);
  font-family: 'Mulish', sans-serif;
  padding: 2.5rem;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
}

.headerDiv h3 {
  color: rgb(126, 127, 128);
}

.headerDiv button {
  padding: 0.75rem;
  width: 12.5rem;
  background: #ff7a00;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;

  .fa-plus {
    color: #fff;
    font-weight: 900;
    font-size: 0.9375rem;
    margin-right: 0.625rem;
  }
}

.searchDiv {
  background: #fff;
  padding: 1.25rem;
  margin-top: 3%;
}
.childDiv {
  border: 0.0594rem solid #e5e5e5;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.searchInput {
  display: flex;
  flex-wrap: wrap;
}
.search {
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
  width: 9.375rem;
  font-size: 0.75rem;
  background: rgb(243, 245, 246);
  .fa-circle-caret-down {
    margin-left: 0.625rem;
  }
}
.inputDiv {
  border: 1px solid #e5e5e5;
  display: flex;
  flex: 1;
  padding: 0.5rem;
  align-items: center;
  width: 37.5rem;
  border-left: none;
}
.inputDiv input {
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
  padding:0rem .3125rem;
  font-size: 1rem;
}
.findBtn button {
  padding: 0.7rem;
  width: 9.375rem;
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  border: none;
  background: #ff7a00;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.contentDiv {
  margin-top: 3%;
}

.allBtn {
  padding: 0.625rem 1.5625rem;
  background: #fff;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;

  p {
    border-bottom: 0.1875rem solid #142e65;
  }
}
.activeBtn {
  padding: 0.625rem 1.5625rem;
  background: #00b388;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 0.125rem;
  cursor: pointer;
}
.inActiveBtn {
  padding: 0.625rem 1.5625rem;
  background: #c61531;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 0.125rem;
  cursor: pointer;
}

.contents {
  background: #fff;
  padding: 1.875rem;
}

.contents a {
  text-decoration: none;
  color: #353535;
}

.contents .th {
  display: flex;
  padding: 0.625rem;
  margin-left: 0.625rem;
  justify-content: space-around;
  cursor: pointer;
  font-size: 0.8125rem;
}

.contents .td {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  padding: 0.625rem;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-top: 1%;
  cursor: pointer;
}
.td .fullstack {
  display: flex;
  align-items: center;
  gap: 4.375rem;
}

.td .greenActive {
  border: 1px solid;
  background: #00b388;
  text-align: center;
  width: 5.625rem;
  height: fit-content;
  color: #fff;
  font-weight: 700;
  padding: 0.3125rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.td .dots {
  font-size: 0.3125rem;
  color: black;
}

.footers {
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footers .pagesNumber {
  display: flex;
  gap: 0.4375rem;
  align-items: center;
  cursor: pointer;
}
.footers .pagesNumber .pageActive {
  font-weight: 800;
}

.viewedPages {
  display: flex;
  gap: 1.875rem;
  text-align: center;
}

.viewedPages .itemsPerPage {
  display: flex;
  gap: 0.625rem;
}
.itemsPerPage .numberBox {
  display: flex;
  gap: 0.75rem;
  border: 1px solid #b1b1b1;
  width: 3.125rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
    padding: 1.25rem;
  }
  .inputDiv {
    width: 18.75rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}

.circular-std {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

/* import users styles here */
@import url(/styles/users/usersHomepage.css);
@import url(/styles/users/usersProfile.css);

/* import for admin */
@import url(/styles/admin.css);
