*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url('/assets/fonts/circular-std-medium-500') format('tff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/assets/fonts/ProductSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.container-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #f0f2fa;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  gap: 1.875rem;
  width: 15%;
  height: 100%;
  display: flex;
  background: #262626;
  flex-direction: column;
}

.main-section {
  width: 85%;
  height: 100%;
}

.header {
  display: flex;
  height: 3.125rem;
  align-items: center;
  padding: 0rem .625rem;
  background: #ffffff;
  justify-content: space-between;
}

.content-section {
  width: 100%;
  overflow: auto;
  padding: .625rem;
  background-color: #f0f2fa;
  height: calc(100% - 3.125rem);
}

.logo-container {
  display: flex;
  padding: 1.25rem;
  align-items: center;
  justify-content: flex-start;
}

.app-logo {
  width: 5.625rem;
  height: 1.875rem;
}

.mobile-app-logo {
  display: none;
  width: 5.625rem;
  height: 1.875rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .0625rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-item {
  width: 100%;
}

.nav-item-image {
  width: .75rem;
  height: .75rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: .625rem 2.5rem .625rem 1.25rem;
  text-decoration: none;
  color: white;
  gap: .625rem;
  transition: background-color 0.3s ease;
}

.nav-text {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #ffffff;
}

.open-mobile-nav {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.close-mobile-nav {
  background-color: transparent;
  outline: none;
  border: none;
}

.nav-item.active .nav-link,
.nav-link:hover {
  background-color: #f56100;
}

.nav-item.active .nav-link {
  border-left: .3125rem solid white;
}

.nav-link:hover {
  color: white;
}

.header-search-container {
  background: #f0f2fa;
  padding: .3125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .625rem;
  border-radius: .125rem;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  width: 10rem;
}

.search-input:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-icon {
  width: .625rem;
  height: .625rem;
}

.header-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .625rem;
  padding-right: 16px;
}

.notification-bell-icon {
  width: .9375rem;
  height: .9375rem;
}

.user-profile-pic {
  width: 1.875rem;
  height: 1.875rem;
}

.caretdown {
  width: .625rem;
  height: .625rem;
}

.user-profile-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .3125rem;
}

.user-profile-name {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
}

.mob-app-logo-container {
  margin-left: .625rem;
  display: none;
}

.mobile-nav-menu {
  display: none;
}

@media (max-width: 62rem) {
  .sidebar {
    display: none;
  }

  .open-mobile-nav {
    display: block;
  }

  .user-profile-div {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: .625rem;
  }

  .mobile-nav-menu-list {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 1.25rem;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    align-items: flex-start;
    border-bottom: .0625rem solid #ff7a00;
    padding-bottom: .5rem;
    width: 80%;
  }
  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 5.625rem;
    height: 1.875rem;
  }

  .mob-app-logo-container {
    margin-left: .625rem;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0rem 0rem;
  }
}

@media (max-width: 48rem) {
  .sidebar {
    .open-mobile-nav {
      display: block;
    }
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: .625rem;
  }

  .mobile-nav-menu-list {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 1.25rem;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    align-items: flex-start;
    border-bottom: .0625rem solid #ff7a00;
    padding-bottom: .5rem;
    width: 80%;
  }
  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 5.625rem;
    height: 1.875rem;
  }

  .mob-app-logo-container {
    margin-left: .625rem;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0rem 0rem;
  }
}

@media (max-width: 36rem) {
  .sidebar {
    display: none;
  }

  .open-mobile-nav {
    display: block;
  }

  .user-profile-div {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
  }

  .mobile-nav-menu-button {
    width: 100;
    display: flex;
    justify-content: flex-end;
    padding: .625rem;
  }

  .mobile-nav-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 1.25rem;
    flex-direction: column;
    padding-left: 1.25rem;
    list-style: none;
  }

  .mobile-nav-menu-item {
    font-family: 'Circular Std Medium', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    align-items: flex-start;
    border-bottom: .0625rem solid #ff7a00;
    padding-bottom: .5rem;
    width: 80%;
  }

  .main-section {
    height: 100%;
    width: 100%;
  }

  .mobile-app-logo {
    display: flex;
    width: 5.625rem;
    height: 1.875rem;
  }

  .mob-app-logo-container {
    margin-left: .625rem;
    display: block;
  }

  .header-search-container {
    display: none;
  }

  .header {
    padding: 0rem 0rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.usersHomepage {
  background: rgb(240, 242, 250);
  font-family: 'Mulish', sans-serif;
  padding: 40px;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
}

.headerDiv h3 {
  color: rgb(126, 127, 128);
}

.headerDiv button {
  padding: 12px;
  width: 200px;
  background: #ff7a00;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  .fa-plus {
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    margin-right: 10px;
  }
}

.searchDiv {
  background: #fff;
  padding: 20px;
  margin-top: 3%;
}
.childDiv {
  border: .9504px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.searchInput {
  display: flex;
  flex-wrap: wrap;
}
.search {
  border: .0625rem solid #e5e5e5;
  padding: 8px;
  width: 150px;
  font-size: 12px;
  background: rgb(243, 245, 246);
  .fa-circle-caret-down {
    margin-left: 10px;
  }
}
.inputDiv {
  border: .0625rem solid #e5e5e5;
  display: flex;
  flex: 1;
  padding: 8px;
  align-items: center;
  width: 600px;
  border-left: none;
}
.inputDiv input {
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
  padding: 0px 5px;
  font-size: 16px;
}
.findBtn button {
  padding: 11.2px;
  width: 150px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background: #ff7a00;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.contentDiv {
  margin-top: 3%;
}

.allBtn {
  padding: 10px 25px;
  background: #fff;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  p {
    border-bottom: 3px solid #142e65;
  }
}
.activeBtn {
  padding: 10px 25px;
  background: #00b388;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
}
.inActiveBtn {
  padding: 10px 25px;
  background: #c61531;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
}

.contents {
  padding: 30px;
  background-color: #fff;
}

.contents a {
  text-decoration: none;
  color: #353535;
}

.contents .th {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  justify-content: space-around;
  cursor: pointer;
  font-size: 13px;
}

.contents .td {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 10px;
  align-items: center;
  border: .0625rem solid #e5e5e5;
  margin-top: 1%;
  cursor: pointer;
}
.td .fullstack {
  display: flex;
  align-items: center;
  gap: 70px;
}

.td .greenActive {
  border: .0625rem solid;
  background: #00b388;
  text-align: center;
  width: 90px;
  height: fit-content;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.td .dots {
  font-size: 5px;
  color: black;
}

.footers {
  font-size: 12px;
  font-weight: 600;
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footers .pagesNumber {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}
.footers .pagesNumber .pageActive {
  font-weight: 800;
}

.viewedPages {
  display: flex;
  gap: 30px;
  text-align: center;
}

.viewedPages .itemsPerPage {
  display: flex;
  gap: 10px;
}
.itemsPerPage .numberBox {
  display: flex;
  gap: 12px;
  border: .0625rem solid #b1b1b1;
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 47.9375rem) {
  main {
    width: 100%;
    padding: 20px;
  }
  .inputDiv {
    width: 100px;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
}

.circular-std {
  font-family: 'Circular Std Medium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif, 'Mulish', sans-serif;
}
