@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std Medium', sans-serif;
}

body {
  background-color: #f0f2fa;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* overflow: hidden; */
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.section {
  width: 100%;
  height: 2rem;
  background-color: #ff7a00;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 3.125rem 0;
}

header hgroup {
  text-align: center;
  margin-bottom: 1.5rem;
}

header hgroup h2 {
  font-size: 3rem;
  padding: 0;
}

header hgroup h5 {
  padding: 0.4375rem 0;
  font-size: 1.1rem;
}

.input-group .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.4rem;
  margin-bottom: 2rem;
  margin-top: 0.8rem;
  border: none;
  background-color: #f0f2fa;
  border-radius: 5px;
}

.input-group .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-size: 1rem;
  background-color: #f0f2fa;
}

.input-group i {
  font-size: 1.5rem;
  margin-right: 1.8rem;
}

.reset-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
  padding: 0 20px;
}

.reset-password input {
  margin-right: 0.625rem;
  padding: 2rem;
}

.reset-password a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 1.1rem;
}

.reset-password label {
  font-size: 1.1rem;
}

.btn {
  width: 100%;
  padding: 1.2rem 0;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  background-color: #ff7a00;
  border-radius: 5px;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.logo {
  position: absolute;
  top: 5rem;
  right: 3.125rem;
  width: 4.375rem;
}

/* SMALL SCREEN */
@media (max-width: 640px) {
  html {
    font-size: 16px;
  }

  .wrapper {
    width: 100%;
  }

  header hgroup h2 {
    font-size: 1.7rem;
  }

  header hgroup h5 {
    font-size: 0.8rem;
  }

  form {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .reset-password {
    padding: 0;
    gap: 1rem;
  }

  .reset-password a {
    font-size: 1.5rem;
  }

  .reset-password label {
    font-size: 1.5rem;
  }

  .logo {
    display: none;
  }
}

/* MEDIUM SCREEN */
@media (max-width: 768px) {
  html {
    font-size: 17px;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  header hgroup h2 {
    font-size: 1.8rem;
  }

  header hgroup h5 {
    font-size: 0.8rem;
  }

  .reset-password {
    padding: 0;
  }

  .reset-password a {
    font-size: 0.8rem;
  }

  .reset-password label {
    font-size: 0.8rem;
  }

  .logo {
    display: none;
  }
}

/* LARGE SCREEN */
@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  header hgroup h2 {
    font-size: 2.2rem;
  }

  header hgroup h5 {
    font-size: 0.8rem;
  }

  .reset-password {
    padding: 0;
  }

  .reset-password a {
    font-size: 1rem;
  }

  .reset-password label {
    font-size: 1rem;
  }
}

/* XL SCREEN */
@media (max-width: 1280px) {
  html {
    font-size: 20px;
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  header hgroup h2 {
    font-size: 2.2rem;
  }

  header hgroup h5 {
    font-size: 0.8rem;
  }

  .reset-password {
    padding: 0;
  }
}

/* @media (max-width: 1536px) {
    html {
        font-size: 23px;
    }
}

@media (max-width: 2000px) {
    html {
        font-size: 28px;
    }
}

@media (max-width: 3000px) {
    html {
        font-size: 30px;
    }
} */
