@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.usersProfile {
  background: rgb(240, 242, 250);
  font-family: 'Mulish', sans-serif;
}

.usersHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersHeaderDiv h3 {
  color: #353535;
  font-size: 1.25rem;
  font-weight: 700;
}

.usersHeaderDiv a {
  font-size: 14px;
  font-weight: 700;
  color: #ff7a00;
  text-decoration: none;
}

.userProfileDiv {
  display: flex;
  margin-top: 2%;
  background: #fff;
}

.userProfileDiv .profileImage {
  padding: 1.25rem 3.125rem;
  border-right: 1px solid #f3f5f6;
}

.profileImage p {
  font-size: 1rem;
  padding: 0.625rem;
  font-weight: 700;
  color: #353535;
  text-align: center;
}

.profileDetails {
  width: 100%;
}

.profileDetails .row1 {
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  border-bottom: 1px solid #f3f5f6;
}

.detailsChild {
  gap: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.detailsChild .business-name {
  display: none;
}

.detailsChild .users-status {
  display: none;
  color: #c61531 !important;
  font-weight: 800;
}

.profileDetails .row1 label {
  font-weight: 500;
  color: #7a7c87;
  font-size: 0.625rem;
}

.profileDetails .row1 p {
  margin-top: 6px;
  font-weight: 600;
  color: #353535;
  font-size: 0.875rem;
}

.profileDetails .row2 {
  gap: 3.875rem;
  display: flex;
  padding: 1.25rem 1.875rem;
  border-bottom: 1px solid #f3f5f6;
}

.profileDetails .row2 label {
  font-weight: 500;
  color: #7a7c87;
  font-size: 0.625rem;
}

.profileDetails .row2 p {
  font-weight: 600;
  color: #353535;
  font-size: 0.875rem;
}

.profileDetails .row2 .usersProfile-Active {
  font-weight: 700;
  color: #00b388;
}

.profileDetails .row3 {
  display: flex;
  padding: 1.25rem 1.875rem;
  justify-content: space-between;
}

.row3 .usersEdit {
  cursor: pointer;
  font-weight: 700;
  color: #ff6600;
  background: #c615311a;
  padding: 0.625rem 3.75rem;
  border-radius: 0.3125rem;
  border: 1px solid #ff6600;
  font-family: 'Mulish', sans-serif;
}

.row3 .usersStart-chat {
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  background: #ff6600;
  padding: 0.625rem 2.5rem;
  border-radius: 0.3125rem;
  font-family: 'Mulish', sans-serif;
}

.row3 .usersRe-activate {
  border: none;
  display: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  background: #00b388;
  padding: 10px 3.75rem;
  border-radius: 0.3125rem;
  font-family: 'Mulish', sans-serif;
}

.row3 .usersDisable {
  border: none;
  color: #fff;
  cursor: pointer;
  background: #c61531;
  padding: 0.625rem 3.75rem;
  border-radius: 0.3125rem;
  font-family: 'Mulish', sans-serif;
}

.usersProfile-activity {
  margin-top: 2%;
}

.activityBtn {
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #ff6600;
  background: #fff;
  padding: 0.3125rem 3.125rem;
  border-radius: 0.3125rem;
  font-family: 'Mulish', sans-serif;
  p {
    padding: 0.125rem;
    border-bottom: 3px solid #ff6600;
  }
}

.activity-inactive {
  background: #ff6600;
  color: #fff;
}

.chatsBtn {
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  background: #ff6600;
  padding: 0.3125rem 3.125rem;
  border-radius: 0.3125rem;
  font-family: 'Mulish', sans-serif;

  p {
    padding: 0.125rem;
  }
}

.chats-active {
  visibility: visible;
  background: #fff;

  p {
    color: #ff6600;
    font-weight: 800;
    border-bottom: 3px solid #ff6600;
  }
}

.activityTable {
  background: #fff;
}

.activity-th {
  font-weight: 700;
  font-size: 0.9375rem;
  padding: 1.25rem 3.125rem;
}

.activity-td {
  display: flex;
  font-size: 0.875rem;
  padding: 1.25rem 3.125rem;
  border-top: 1px solid #f3f5f6;
  justify-content: space-between;
}

.left-td {
  gap: 1.25rem;
  display: flex;
  align-items: center;
}

.left-td .fa-circle {
  font-size: 0.75rem;
  color: #ff7a00;
}

.activity-view {
  color: #fff;
  cursor: pointer;
  background: #ff7a00;
  padding: 5px 1.5625rem;
  border-radius: 0.3125rem;
}

.chatSection {
  display: none;
  overflow-y: scroll;
  background: #fff;
  padding-bottom: 20px;
  padding: 0.625rem 1.875rem;
}

.chatSection .user {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.userDiv {
  display: flex;
  justify-content: space-between;
}

.user {
  margin-top: 3%;
  position: relative;
}

.user .userChat {
  width: 18.75rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  background: #f3f5f6;
  border-radius: 0.9375rem 0.9375rem 0.9375rem 0rem;
}

.user small {
  left: 70%;
  top: -1.25rem;
  font-size: 0.625rem;
  position: absolute;
}

.customerCareDiv {
  display: flex;
  justify-content: space-between;
}

.customerCare-bg {
  gap: 2.5rem;
  display: flex;
}

.customerCare {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.customerCare small {
  right: 60%;
  top: 1.875rem;
  font-size: 0.625rem;
  position: absolute;
}

.customerChat {
  padding: 1rem 1.5rem;
  background: #d7f8f4;
  border-radius: 0.9375rem 0.9375rem 0rem 0.9375rem;
}

.customerCare-bg .scroller {
  width: 0.4375rem;
  height: 9.9375rem;
  background: #d9d9d9;
  border-radius: 0.625rem;
}

.typingDiv {
  width: 50%;
  margin: auto;
  display: flex;
  margin-top: 5%;
  border: 1px solid;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #f0f2fa;
  border-radius: 1.875rem;
  justify-content: space-between;
}

.typingDiv .left-items {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.left-items .add-icon {
  color: #128c7e;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.3125rem;
  border: 1px solid #130f26;
}

.typingDiv input {
  border: none;
  outline: none;
  background: none;
  margin-left: 10%;
  padding: 0.3125rem;
}

.record {
  font-size: 1.25rem;
  padding-right: 1.25rem;
}

.modal-bg {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: visibility 0s opacity 0, 5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  padding: 0.9375rem;
  background: #fff;
  width: 30%;
  height: 30%;
}

.modal p {
  font-weight: 800;
  text-align: center;
  font-size: 1.125rem;
}

.modal-links {
  gap: 1.25rem;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.cancel-modal a {
  font-weight: 600;
  color: #c61531;
  text-decoration: none;
}

.disable-modal a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background: #c61531;
  padding: 0.5rem 1.6rem;
}

@media screen and (max-width: 767px) {
  .userProfileDiv {
    flex-direction: column;
    overflow-x: hidden;
  }

  .userProfileDiv .profileImage {
    margin: auto;
    border-right: none;
  }

  .profileImage p {
    font-size: 14px;
  }
  .profileDetails .row1,
  .profileDetails .row2 {
    padding: 10px;
  }

  .profileDetails .row3 {
    flex-direction: column;
    gap: 20px;
  }

  .row3 .usersEdit,
  .row3 .usersStart-chat {
    padding: 8px 40px;
  }

  .row3 .row3-left {
    display: flex;
    gap: 10px;
  }

  .usersProfile-activity {
    margin-top: 15%;
  }

  .activityBtn,
  .chatsBtn {
    padding: 2px 40px;
  }

  .activity-td,
  .activity-th {
    padding: 5px 20px;
  }

  .chatSection {
    padding: 5px;
  }

  .chatSection .user {
    gap: 5px;
  }

  .user {
    margin-top: 10%;
  }
  .user .userChat {
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 16px;
  }

  .user small {
    left: 50%;
    top: -0.9375rem;
  }

  .customerCare-bg {
    gap: 20px;
  }
  .customerCare small {
    right: 50%;
    top: 40px;
  }

  .customerChat {
    padding: 10px 1rem;
    font-size: 0.8125rem;
  }

  .modal {
    width: 50%;
    height: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .row3 .row3-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
